@model List<Todo>

@{
    ViewData["Title"] = "Index";
}

<h1>Todo manager app</h1>

<partial name="_Notification" />

<div class="text-end">
    <a asp-action="Upsert" class="btn btn-primary">Create New</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Completed</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Todo todo in Model) 
{
        <tr>
            <td class="col-1">@todo.Id</td>
                <td class="col-5"><a asp-action="Details" asp-route-id="@todo.Id">@todo.Title</a></td>
                <td>
                    @{
                        string btnClass = "btn btn-outline-success";
                        if (todo.IsCompleted)
                        {
                            btnClass += " bg-success text-white";
                        }
                    }
                    <a asp-action="Complete" asp-route-id="@todo.Id" class="@btnClass">@todo.IsCompleted</a>
                </td>
            <td class="text-end">
                <a asp-action="Upsert" asp-route-id="@todo.Id" class="btn btn-secondary">Edit</a> 
                <a asp-action="Delete" asp-route-id="@todo.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
