@model List<Todo>

@{
    ViewData["Title"] = "Index";
}

<h1>Todo manager app</h1>

<p>
    <a asp-action="Upsert" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>IsCompleted</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Todo todo in Model) 
{
        <tr>
            <td>@todo.Id</td>
            <td>@todo.Title</td>
            <td>@todo.IsCompleted</td>
            <td>
                <a asp-action="Upsert" asp-route-id="@todo.Id" class="btn btn-secondary">Edit</a> |
                <a asp-action="Details" asp-route-id="@todo.Id" class="btn btn-primary">Details</a> |
                <a asp-action="Delete" asp-route-id="@todo.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
